# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Where the trained models are saved
trained_models*/

# Dataset information
*.csv
*.ods

# skip the bash file for training multiple models (folders where the files are different)
run_multiple_trainings_*.sh

